# dependencies
/node_modules
/.next
/out

# env
.env
.env.local
.env.*.local

# evals
/evals/results/*.json

# local user memory
/data/memory/*.json

# workspace (projects / documents)
/data/workspace/**/*.json

# misc
.DS_Store
*.tsbuildinfo
next-env.d.ts
